@tailwind base;
@tailwind components;
@tailwind utilities;
.FileCard {
    transition: transform 0.2s ease-in-out;
  }
  
  .FileCard:hover {
    transform: scale(1.02);
  }
  .u-float-right{
    float: right;
  }
  .p-t-10{
    padding-top: 10px;
  }
  .m-t-_8{
    margin-top: -8px;
  }
  
  .u-full-width{
    width: 100%;
  }
  .table-container {
    height: 400px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    overflow: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .table-wrapper {
    max-width: 100%; /* Adjust the max-width as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
  }