@tailwind base;
@tailwind components;
@tailwind utilities;
.FileCard {
    transition: transform 0.2s ease-in-out;
  }
  
  .FileCard:hover {
    transform: scale(1.02);
  }
  .u-float-right{
    float: right;
  }
  .p-t-10{
    padding-top: 10px;
  }
  .m-t-_8{
    margin-top: -8px;
  }
  
  .u-full-width{
    width: 100%;
  }
  
  .table-llcontainer {
    height: 400px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    overflow: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .table-wrapkkper {
    max-width: 100%; /* Adjust the max-width as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  .tooltip {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  
  .tooltip:hover {
    white-space: normal;
    overflow: visible;
    z-index: 9999;
  }
  /* Style for suggestion list container */
  .autocomplete {
    position: relative;

  }
  
  .autocomplete-input {
    /* Your input styles */
  }
  
  .autocomplete-suggestions {
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px; /* Set the maximum height for the suggestion list */
    overflow-y: auto; /* Enable vertical scrolling when necessary */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto; /* Add this line */
  }
  
  .autocomplete-suggestions li {
    padding: 8px 16px;
    font-size: 14px; /* Adjust the font size as needed */
    cursor: pointer;
  }
  
  .autocomplete-suggestions li:hover {
    background-color: #f2f2f2;
  }
  
  .sticky{
    z-index: 1;
  }
  
  
  